<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<hr>
<p>ユーザー名: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<p>学校: <%= @user.school %></p>
<p>学年: <%= @user.grade %></p>
<p>学科: <%= @user.department %></p>
<p>性別: <%= @user.gender %></p>
