<div class="container mt-5">
    <div class="row">
　      <div class="col-6 mx-auto">
            <% if @user.id == current_user.id %>
                <h2 class="text-center m-5 text-primary">マイページ</h2>
                <div class="text-center mb-5" >
                     <button type="button" class="btn btn-outline-primary btn-lg">編集する</button> 
               </div>      
            <% else %>
                <h2 class="text-center m-5 text-primary">@user.name ページ</h2>
            <% end %>

            <div>
                <h4 class="card-text">
                    <small>ユーザー名</small> : <%= @user.name %>
                </h4>
                <h4 class="card-text">
                    <small>学校</small> : <%= @user.school %>
                </h4>
                <h4 class="card-text">
                    <small>学年</small> : <%= @user.grade %>
                </h4>          
                <h4 class="card-text">
                    <small>学科</small> : <%= @user.department %>
                </h4>
                <h4 class="card-text">
                    <small>性別</small> : <%= @user.gender %>
                </h4>
                <% if @user.id == current_user.id %>
                    <h4 class="card-text">
                        <small>メールアドレス</small> : <%= @user.email %>
                    </h4>
                <% end %>
            </div>

        </div>
    </div>
</div>