<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<hr>
<h2>ユーザー個別ページ</h2>

<p>ユーザー名: <%= @user.name %></p>

<p>学校: <%= @user.school %></p>
<p>学年: <%= @user.grade %></p>
<p>学科: <%= @user.department %></p>
<p>性別: <%= @user.gender %></p>

<% if @user.id == current_user.id %>
    <p>メールアドレス: <%= @user.email %></p>
    <%= link_to '編集する' %>
    <%= link_to '削除する' %>
<% end %>

