<div class="card mb-4" style="min-width: 200px;">
  <div class="card-body">
    <h5 class="card-title"><small class="text-muted">ホスト</small><%= event.host.name %></h5>
    <p><%= event.setting_count %><small class="text-muted">人募集</small></p>
    <p class="card-text"><%= event.content %></p>
    <p class="card-title"><small class="text-muted">開催日</small> <%= event.event_date %></p>
    <%= link_to 'イベント詳細', event_path(event.id)%>
  </div>
  <div class="card-footer pt-0">
    <%= render 'coupons/coupon', coupon: event.coupon %>
  </div>
  <div class="card-footer bg-success">
    <h5 class="text-white">現在のメンバー</h5>
    <% if event.participate_users.empty? %>
      <p class="text-white">参加メンバーはいません。</p>
    <% else %>
      <% event.participate_users.each do |user| %>
        <p class="text-white"><%= user.name %></p>
      <% end %>
    <% end %>
  </div> 
</div>
