<%= form_for event do |f| %>

  <%= f.hidden_field :coupon_id, :value => @event.coupon_id %>
<h4 class="text-center mt-3">使用クーポン</h4>
  <div class="coupon_container">
    <div class="coupon_card">

      <div class="count_area">
        <div class="check_count">
          <p>チェック数</p>
          <strong><%= coupon.checks.count %></strong>
        </div>
      </div>

      <div class="date_area">
        <p>有効期限</p>
        <h4>
          <% if coupon.exp_date %>
            <%=coupon.exp_date.strftime('%m/%d') %>
          <% else %>
            無期限
          <% end %>
        </h4>
      </div>

      <div class="min_setting_count">
        <p><strong><%=coupon.min_setting_count %></strong>人以上のご来店でご利用可能</p>
      </div>
      <h3 class="font-weight-bold"><%=coupon.content %></h3>

      <div class="restaurant m-3">
        <h5 class="restaurant_name m-0"><%=coupon.restaurant.name %></h5>
        <div class="locate">
          <%=coupon.restaurant.address %>
        </div>
      </div>

    </div>
  </div>

<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-6 mx-auto">
      <h3 class="text-center">イベント新規投稿</h3>
      <div class="form-group">
        <%= f.label :setting_count, "募集人数" %><br />
        <%= f.number_field :setting_count, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :prace, "集合場所" %><br />
        <%= f.text_field :prace, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :content, "募集内容" %><br />
        <%= f.text_field :content, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :event_date, "イベント日時" %><br />
        <%= f.date_field :event_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :deadline_date, "募集締め切り" %><br />
        <%= f.date_field :deadline_date, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "投稿", class: "btn btn-primary mb-1" %>
      </div>

    <% end %>
   </div>
  </div>
</div>