<h1>MeshiQu!!</h1>
<h2>新規登録・ログイン・ログアウト</h2>

<h2>ユーザー</h2>
<h3><%= link_to "ログイン", new_user_session_path %></h3>
<h3><%= link_to "新規登録", new_user_registration_path %></h3>
<h3><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><h3>


<h2>店舗</h2>
<h3><%= link_to "ログイン", new_restaurant_session_path %></h3>
<h3><%= link_to "新規登録", new_restaurant_registration_path %></h3>
<h3><%= link_to "ログアウト", destroy_restaurant_session_path, method: :delete %><h3>

