<!DOCTYPE html>
<html>
  <head>
    <title>MeshiQu!!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <%= link_to 'MeshiQu', root_path, class: "navbar-brand font-weight-bold" %>
      <div class = "d-flex flex-row-reverse bd-highlight">

  　    <% if restaurant_signed_in? %>
          <h3><%= link_to 'マイページ', restaurant_path(current_restaurant), class: "btn btn-success mx-1" %><h3>
          <h3><%= link_to "ログアウト", destroy_restaurant_session_path, method: :delete, class: "btn btn-danger mx-1" %><h3>
        <% else %>
          <h3><%= link_to "ログイン[店]", new_restaurant_session_path, class: "btn btn-primary mx-1" %></h3>
          <h3><%= link_to "新規登録[店]", new_restaurant_registration_path, class: "btn btn-primary mx-1" %></h3>
        <% end %>

        <% if user_signed_in? %>
          <h3><%= link_to 'マイページ', user_path(current_user), class: "btn btn-success mx-1" %><h3>
          <h3><%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "btn btn-danger mx-1"%><h3>
        <% else %>
          <h3><%= link_to "ログイン[ユーザー]", new_user_session_path, class: "btn btn-primary mx-1" %></h3>
          <h3><%= link_to "新規登録[ユーザー]", new_user_registration_path, class: "btn btn-primary mx-1" %></h3>
        <% end %>
        
       </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <%= yield %>
  </body>
</html>
