<!DOCTYPE html>
<html>
  <head>
    <title>MeshiQu!!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>

    <header class="header">
      <div class="inner">
        <%= link_to(root_path, class: 'logo') do %>
          <%= image_tag "meshiqu.svg" %>
        <% end %>
        <nav class="nav">
          <% if restaurant_signed_in? %>
            <div class="nav-item">
              <%= link_to "ログアウト", destroy_restaurant_session_path, method: :delete, class: "button" %>
            </div>
            <div class="nav-item">
              <%= link_to 'マイページ', restaurant_path(current_restaurant), class: "button" %>
            </div>
          <% elsif user_signed_in? %>
            <div class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "button"%>
            </div>
            <div class="nav-item">
              <%= link_to 'マイページ', user_path(current_user), class: "button" %>
            </div>
          <% else %>
            <div class="nav-item">
              <%= link_to "店舗責任者様はこちら", new_restaurant_registration_path, class: "button" %>
            </div>
            <div class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "button" %>
            </div>
            <div class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "button post" %>
            </div>
          <% end %>
        </nav>
      </div>
    </header>

          <div><%= link_to 'クーポン一覧', coupons_path, class: "btn btn-info mx-1" %><div>
          <div><%= link_to 'イベント一覧', events_path, class: "btn btn-success mx-1" %><div>
      <%= yield %>

  </body>
</html>
